.free {
  background-color: #102654;
  color: #ffffff;
}

.free__container {
  margin: 0 auto;
  padding: 71px 15px 70px;
  width: $breakpoint-mobile;
  display: flex;
  flex-direction: column;
  gap: 36px;

  @media #{$not-mobile} {
    padding: 60px 164px;
    width: $breakpoint-tablet;
  }

  @media #{$desktop-only} {
    padding: 60px 103px;
    width: 683px;
    gap: 36px;
  }
}

.free__form {
  display: contents;
}

.free__title {
  margin: 0;
  font-family: $second-family-600;
  font-weight: 600;
  font-size: 32px;
  line-height: 1;

  @media #{$not-mobile} {
    font-size: 54px;
    text-align: center;
  }

  @media #{$desktop-only} {
    text-align: left;
  }
}

.free__list {
  @include reset-list;

  display: contents;

  @media #{$not-mobile} {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  @media #{$desktop-only} {
    gap: 29px;
  }
}

.free__input {
  padding: 1px 0;
  width: 100%;
  font-family: $font-family;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57;
  color: inherit;
  border: 1px solid rgba(255, 255, 255, 0);
  border-bottom: 1px solid #74819c;
  background-color: transparent;

  @media #{$not-mobile} {
    width: 205px;
  }

  @media #{$desktop-only} {
    padding: 1px 0 2px;
    width: 224px;
  }

  &:focus-visible {
    outline: none;
    border: 1px solid #ffffff;
    border-radius: none;
  }

  &:hover {
    border-bottom: 1px solid #ffffff;
  }

  &:disabled {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    color: rgba(255, 255, 255, 0.4);
  }

  &::placeholder {
    font-family: inherit;
    font-size: 14px;
    line-height: 1.57;
    opacity: 0.4;
    color: #ffffff;
  }
}

.free__button {
  padding: 22px;
  font-family: $font-family;
  font-weight: 700;
  font-size: 12px;
  line-height: 1;
  text-transform: uppercase;
  border: 2px solid #ffffff;
  background-color: transparent;
  color: inherit;
  cursor: pointer;

  @media #{$not-mobile} {
    padding: 25px;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &:disabled {
    opacity: 0.3;
  }
}
