.games {
  padding: 25px 0;

  @media #{$not-mobile} {
    padding: 60px 0;
  }

  @media #{$desktop-only} {
    padding: 101px 0;
  }
}

.games__container {
  background-color: #ed0233;
  width: 290px;
  margin: 0 auto;

  @media #{$not-mobile} {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 678px;
  }

  @media #{$desktop-only} {
    width: 1160px;
  }
}

.games__content {
  flex-direction: column;
  padding: 40px;
  display: grid;
  grid-template-columns: 117px 56px;
  gap: 0 37px;
  color: #ffffff;

  @media #{$not-mobile} {
    grid-template-columns: repeat(2, 100px);
    gap: 0 20px;
  }

  @media #{$desktop-only} {
    grid-template-columns: 200px 95px;
    gap: 0 45px;
    padding: 60px 80px 66px;
  }
}

.games__title {
  margin: 0;
  font-family: $second-family-600;
  font-weight: 600;
  font-size: 48px;
  line-height: 1.12;
  text-transform: uppercase;
  word-wrap: break-word;

  @media #{$desktop-only} {
    font-size: 82px;
    line-height: 1.17;
  }
}

.games__text-title {
  margin: 0 0 2px;
  padding-bottom: 2px;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.25;
  border-bottom: 1px solid #ffffff;

  @media #{$not-mobile} {
    font-size: 18px;
    padding-top: 1px;
  }

  @media #{$desktop-only} {
    margin-bottom: 6px;
    padding-bottom: 6px;
  }
}

.games__text {
  margin: 0 0 5px;
  display: flex;
  flex-wrap: wrap;
  font-family: $font-family-700;
  font-weight: 700;
  font-size: 24px;
  line-height: 1;

  @media #{$not-mobile} {
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 9px;
    }
  }

  @media #{$desktop-only} {
    font-size: 40px;

    &:not(:last-child) {
      margin-bottom: 19px;
    }
  }
}

.games__text span {
  padding-left: 4px;
  width: 32px;
  font-family: $font-family;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;

  @media #{$not-mobile} {
    padding-left: 6px;
    font-size: 14px;
    line-height: 1.57;
  }
}

.games__description {
  grid-column: 1/-1;
  font-size: 16px;
  line-height: 1.25;

  @media #{$not-mobile} {
    margin: 0;
    padding: 7px 0;
    font-size: 18px;
    line-height: 1.33;
  }

  @media #{$desktop-only} {
    padding: 0;
  }
}

.games__link {
  @include link;

  border: 2px solid #ffffff;
  padding: 22px 40px;
  width: 210px;
  font-family: $font-family-700;
  font-weight: 700;
  font-size: 12px;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;

  @media #{$not-mobile} {
    padding: 25px 20px;
    width: 220px;
  }

  @media #{$desktop-only} {
    width: 340px;
    align-self: start;
  }

  &:focus-visible {
    outline: none;
    border-color: #000000;
    background: rgba(255, 255, 255, 0.8);
    color: #103aae;
  }

  &:hover {
    color: #103aae;
    background-color: #ffffff;
  }

  &:active {
    background-color: #ffffff;
    color: #102654;
  }

  &:not([href]) {
    color: rgba(255, 255, 255, 0.5);
    opacity: 0.5;
    pointer-events: none;
  }
}

.games__image img {
  display: block;
  width: 290px;
  height: 290px;

  @media #{$not-mobile} {
    width: 378px;
    height: 348px;
  }

  @media #{$desktop-only} {
    width: 660px;
    height: 500px;
  }
}
