.hero {
  background: linear-gradient(90deg, #1c3477 0%, #1c3477 0.01%, #1a3578 39.11%, #73184b 75.5%, #b4022a 100%);
  color: #ffffff;
}

.hero__container {
  @include centerer;
  padding-bottom: 32px;

  @media #{$not-mobile} {
    display: grid;
    gap: 0 30px;
  }

  @media #{$desktop-only} {
    gap: 0 58px;
  }
}

.hero__header {
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
  gap: 20px;

  @media #{$not-mobile} {
    padding: 30px 0 27px 0;
    grid-column: 1/3;
    grid-row: 1/2;
  }

  @media #{$desktop-only} {
    padding: 32px 0 53px 0;
  }
}

.hero__text-wrapper {
  padding: 46px 0 48px 0;
  display: grid;
  align-items: end;
  justify-items: end;
  grid-template-columns: repeat(2, 1fr);
  gap: 11px 20px;
  text-align: right;

  @media #{$not-mobile} {
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 15px 0 40px 0;
    align-items: center;
    gap: 0 26px;
  }

  @media #{$desktop-only} {
    padding: 26px 0 25px 0;
    gap: 27px 13px;
  }
}

.hero__phone {
  @include link;
  font-family: $font-family-700;
  font-weight: 700;
  font-size: 22px;
  line-height: 1;

  &:focus-visible {
    outline: none;
    color: #1c3374;
  }

  &:hover {
    color: rgba(28, 51, 116, 0.5);
  }

  &:active {
    color: #102654;
    text-decoration: #102654 underline solid;
  }

  &:not([href]) {
    color: #f8f9fc;
    opacity: 0.5;
    pointer-events: none;
  }

  @media #{$not-mobile} {
    font-size: 24px;
  }
  @media #{$desktop-only} {
    font-size: 26px;
  }
}

.hero__button {
  padding: 22px;
  border: 2px solid #ffffff;
  background-color: transparent;
  color: inherit;
  font-family: $font-family-700;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  line-height: 1;
  width: 100%;
  cursor: pointer;

  &:focus-visible {
    outline: none;
    border-color: #000000;
    background-color: rgba(255, 255, 255, 0.8);
    color: #103aae;
  }

  &:hover {
    background-color: #ffffff;
    color: #103aae;
  }

  &:active {
    color: #102654;
  }

  &:disabled {
    opacity: 0.5;
  }

  @media #{$not-mobile} {
    padding: 20px;
    grid-column: 1/2;
    align-self: start;
    justify-self: end;
    width: 185px;
  }

  @media #{$desktop-only} {
    padding: 27px;
    width: 270px;
  }
}

.hero__image-wrapper {
  display: none;

  @media #{$not-mobile} {
    display: block;
    grid-column: 2/3;
    grid-row: 2/4;
    justify-self: end;
  }

  @media #{$tablet-only} {
    justify-self: end;
  }

  @media #{$desktop-only} {
    margin-right: 72px;
  }
}

.hero__title {
  margin: 0;
  grid-column: 2/3;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 62px;
  line-height: 1;
  letter-spacing: 0.02em;
  font-family: $second-family-800;

  @media #{$not-mobile} {
    font-size: 72px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    margin-right: -2px;
  }

  @media #{$desktop-only} {
    font-size: 92px;
    line-height: 1.2;
    letter-spacing: 0.04em;
  }
}

.hero__offers {
  grid-column: 1/2;
  grid-row: 2/3;

  @media #{$not-mobile} {
    padding-top: 54px;
  }

  @media #{$desktop-only} {
    padding-top: 11px;
  }
}

.hero__text {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
  font-family: $font-family;

  @media #{$not-mobile} {
    line-height: 1.57;
  }
}

.hero__text--city {
  font-family: $second-family-600;
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  grid-column: 2/3;

  @media #{$not-mobile} {
    font-size: 42px;
    align-self: end;
  }

  @media #{$desktop-only} {
    font-size: 54px;
  }
}

.hero__logo-wrapper img {
  width: 100px;
  height: 20px;
  object-fit:fill;

  @media #{$not-mobile} {
    width: 110px;
    height: 22px;
  }

  @media #{$desktop-only} {
    width: 130px;
    height: 26px;
  }
}
