.offers__container {
  padding: 41px 0;
  text-align: center;

  @media #{$not-mobile} {
    padding: 61px 0 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
  }

   @media #{$desktop-only} {
    padding: 100px 0 99px;
  }
}

.offers__title {
  margin: 0 0 39px 0;
  font-family: $second-family-600;
  font-weight: 600;
  font-size: 32px;
  line-height: 1;

  @media #{$not-mobile} {
    margin-bottom: 34px;
    font-size: 42px;
  }

  @media #{$desktop-only} {
    font-size: 54px;
    margin-bottom: 70px;
  }
}

.offers__list {
  @include reset-list;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  @media #{$not-mobile} {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: 35px 30px;
    width: 678px;
  }

  @media #{$desktop-only} {
    align-items: end;
    width: 1160px;
    gap: 40px;
  }
}

.offers__item h3 {
  margin: 0 0 20px 0;
  font-family: $font-family-700;
  font-weight: 700;
  font-size: 22px;
  line-height: 1;

  @media #{$not-mobile} {
    margin-bottom: 9px;
    font-size: 26px;
  }

  @media #{$desktop-only} {
    margin-bottom: 11px;
  }
}

.offers__item p {
  margin: 0 0 10px 0;

  @media #{$not-mobile} {
    margin-bottom: 20px;
    font-size: 16px;
  }

  @media #{$desktop-only} {
    margin-bottom: 30px;
  }
}

.offers__item span {
  font-family: $font-family-700;
  font-weight: 700;
  font-size: 22px;
  line-height: 1;

  @media #{$not-mobile} {
    font-size: 24px;
  }

  @media #{$desktop-only} {
    font-size: 26px;
  }
}

.offers__item a {
  @include link;
  width: 93px;
  height: 34px;
  margin: 0 auto 20px;
  padding: 10px;
  font-family: $font-family-700;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: underline 1px #74819c;
  text-underline-offset: 6px;

  @media #{$not-mobile} {
    margin: 0 auto 0 -10px;
    align-self: end;
    text-underline-offset: 7px;
  }

  &:focus-visible {
    outline: solid 1px #1c3374;
    text-decoration: none;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 1;
  }

  &:not([href]) {
    opacity: 0.5;
  }
}

.offers__item img {
  display: block;
}

.offers__item:has(img) {
  margin-bottom: 10px;
  color: #ffffff;
  background-color: #ed0233;
  align-self: stretch;

  @media #{$not-mobile} {
    padding: 27px 20px 12px 27px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }
}

.offers__item:has(img) div:first-child {
  padding: 31px 20px 0;

  @media #{$not-mobile} {
    padding: 40px 20px 0 25px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, min-content);
    align-items: start;
    width: 278px;
  }

  @media #{$desktop-only} {
    padding: 41px 20px 34px 45px;
    width: 280px;
  }
}

.offers__item:has(img) h3 {
  margin: 5px 0 29px;
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;

  @media #{$not-mobile} {
    margin: 20px 0 41px;
    font-size: 70px;
  }
}

.offers__item:has(img) p {
  margin: 0 0 19px 0;
  padding: 0 30px;
  font-size: 16px;
  line-height: 1.25;

  @media #{$not-mobile} {
    padding: 0;
    font-size: 18px;
    line-height: 1.33;
  }
}

.offers__item:has(img) .offers__image {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  height: 360px;

  @media #{$not-mobile} {
    width: 400px;
    height: 462px;
  }

  @media #{$desktop-only} {
    width: 280px;
    height: 460px;
  }
}

.offers__item:has(img) a {
  margin-bottom: 24px;
  text-decoration: underline 1px #ffffff;

  @media #{$desktop-only} {
    margin-bottom: 0;
  }

  &:focus-visible {
    outline: solid 1px #ffffff;
  }
}

.offers__item:not(:has(img)) {
  display: contents;

  @media #{$desktop-only} {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}

.offers__item:not(:has(img)) a {
  &:hover {
    text-decoration: underline 1px #1c3374;
  }

  &:active {
    text-decoration: underline 1px #1c3374;
  }

  &:not([href]) {
    opacity: 0.3;
    text-decoration: underline 1px #1c3374;
  }
}

.offers__item:not(:has(img)) div {
  padding: 28px 20px 2px;
  position: relative;
  width: 290px;
  color: #1c3374;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;
    background: linear-gradient(130deg, #d10a42 0%, #00359f 100%);
    clip-path: polygon(0 0, 0 100%, 7px 100%, 7px 7px, calc(100% - 7px) 7px, calc(100% - 7px) calc(100% - 7px), 7px calc(100% - 7px), 7px 100%, 100% 100%, 100% 0);
  }

  @media #{$not-mobile} {
    padding: 27px 27px 22px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, min-content);
    align-items: start;
    width: 324px;
  }

  @media #{$desktop-only} {
    padding: 27px 27px 21px;
    width: 560px;
  }
}
